.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #eaeaea;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);

  border-radius: 7px;
  padding: 1em;

  text-align: center;

  .name-plate {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    background: #d0d0d0;
    color: #383838;

    cursor: pointer;

    padding: 0.5em 2.5em;
    margin-bottom: 1em;

    height: 1.25em;
    border-radius: 1.25em;

    font-weight: 300;

    > .start-cap,
    > .end-cap {
      position: absolute;
      width: auto;
      height: 120%;
    }

    > .start-cap {
      left: 0;
      animation: center-to-left 0.5s ease-in-out;
    }

    > .end-cap {
      right: 0;
      animation: center-to-right 0.5s ease-in-out;
    }
  }

  > .sprite {
    object-fit: cover;
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.8));
  }

  > .stats {
    > .types {
        > img {
            margin: 0 .25em;
        }
    }
  }
}

@keyframes center-to-left {
  from {
    left: 50%;
    transform: translateX(-100%);
  }
}

@keyframes center-to-right {
  from {
    right: 50%;
    transform: translateX(100%);
  }
}

@keyframes rotate-left {
    from {
        transform: rotate(-90deg);
    }
}

@keyframes rotate-right {
    from {
        transform: rotate(90deg);
    }
}